page-register {

}
.fundobg{
    background-image: url(../../assets/imgs/back.png);
}

.item-md {
    background-color: transparent;
}

.botaor{
    background-color: #B22727;
    width: 250px;
    height: 40px;
    margin-left: 15px;
    color: white;
}