<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Mapa
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <form 
      *ngIf="displayForward"
      [formGroup]="form" 
      (ngSubmit)="performForwardGeocoding(form.value)">
      <ion-list>
         <ion-item margin-bottom>
            <ion-label>Location</ion-label>
            <ion-input 
               type="text" 
               formControlName="keyword"></ion-input>
         </ion-item>
   
   
         <ion-item margin-bottom>
            <button 
               ion-button 
               color="primary"
               text-center
               block
               [disabled]="!form.valid">Geocode this location</button>
         </ion-item>
   
      </ion-list>
   </form>
   <!--
      Mostra o resultado
   -->
   <section *ngIf="geocoded">
      {{ results }}
   </section>

   <div #map id="my-map"></div>

</ion-content>