$SIDEMENU_TOP: #b83a3a;
$SIDEMENU_BOTTOM: #B22727;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);

$SIDEMENU_TOPBG: rgb(241, 236, 236);
$SIDEMENU_BOTTOMBG: rgb(241, 236, 236);
$SIDEMENU_TRANSPARENCYBG: rgba(255,255,255,0.4);

/*  BARRA TOPO*/
.toolbar-background-md {
    background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

/*FUNDO BG*/
.homebg{
    background: -webkit-gradient(left top, $SIDEMENU_TOPBG, $SIDEMENU_BOTTOMBG);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOPBG, $SIDEMENU_BOTTOMBG);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOPBG, $SIDEMENU_BOTTOMBG);
    background: linear-gradient(to bottom right, $SIDEMENU_TOPBG, $SIDEMENU_BOTTOMBG);   
}



.toolbar-title-md{
    color: #ffffff;
}

ion-card{
    box-shadow: none !important;
}
.card1{
    background-color: #B02020;
    width: 100px;
    height: 100px;
    padding-top: 1px;
    padding-bottom: 1px;
    /*box-shadow: 0 1px 5px #B02020;*/
    border-radius: 100px;
    border:2px solid #B02020;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45%;
    margin-bottom: 30px;   
}


.carrinho{
    width: 150px;
}

.tamanho{
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-top: 25px;
}

.icon1{
    background-image: url(../../assets/imgs/destaque.png);
}

.icon2{
    background-image: url(../../assets/imgs/super.png);
}

.icon3{
    background-image: url(../../assets/imgs/resta.png);
}

.icon4{
    background-image: url(../../assets/imgs/bar.png);
}

.icon5{
    background-image: url(../../assets/imgs/farma.png);
}

.icon6{
    background-image: url(../../assets/imgs/beauty.png);
}

.icon7{
    background-image: url(../../assets/imgs/vestuario.png);
}

.icon8{
    background-image: url(../../assets/imgs/postos.png);
}

.texto{
    margin-top: 75px;
    position: absolute;
    width: 95px;
    height: 20px;
    text-align: center;
    color: #B02020;
    font-size: 1.2em;
   
}

.textos{
    margin-top: 75px;
    position: absolute;
    width: 120px;
    height: 20posx;
    color: #B02020;
    font-size: 1.2em;
    margin-left: -10px;   
 
}
.textor{
    margin-top: 75px;
    position: absolute;
    width: 120px;
    height: 20px;
    color: #B02020;
    font-size: 1.2em;
    margin-left: 0px;   
   
}

.conteudo{
    position: relative;
}
